html,
body {
	height: 100%;
	margin: 0;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .row-header {
	flex: 0 1 auto;
	/* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
	background-color: black;
	color: white;
}

.box .row-body {
	flex: 1 1 auto;
}

#title {
	width: 100%;
	font-size: 30px;
	text-align: center;
}

#project_nav {
	width: 100%;
	font-size: 20px;
	text-align: center;
}

#project_nav_list {
	list-style-type: none;
	display: inline-block;
}

#project_nav_list li {
	display: inline;
	padding: 10px 20px;
	margin: 10px 20px;
	border: solid white 2px;
}

#project_nav_list li:hover {
	background-color: white;
	color: black;
}

#project-shower {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border: 0;
}

#project-shower-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	overflow: auto;
}
